---
import Headline from '../components/Headline.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Welcome to Astro</title>
		<style>
			/* scoped CSS styles go here: */
			/* h1 { ... } */
		</style>
	</head>

	<body>
		<Headline 
		FontSize="18px" 
		Color="#232b25" 
		Align="center" 
		Width="100vw" 
		Content="Welcome to the example!" 
		ButtonTitle="Click me!" 
		DisplayImage="YES!" 
		/>
	</body>
</html>
